{% extends 'base.html.twig' %}

{% block body %}

{% for partenaire in partenaires %}
    <article>
        <h2>{{ partenaire.titre }}</h2>
        <img src="{{ partenaire.logo }}">
        <p>{{ partenaire.description | raw}}</p>
        <a href="{{ partenaire.url }}">En savoire plus sur notre partenaire</a>

    </article>


{% endfor %}

{% endblock %}
