{% extends 'base.html.twig' %}

{% block body %}

{% for article in articles %}
    <article>
        <h2>{{ article.nomArticle }}</h2>
        <img src="{{ article.photoArticle }}">
        <p>{{ article.prixArticle }}€</p>
        <p>{{ article.descArticle | raw}}</p>

    </article>


{% endfor %}

{% endblock %}
