{% extends 'base.html.twig' %}

{% block body %}

{% for membre in equipe %}
    <article>
        <h2>{{ membre.nom }}</h2>
        <img src="{{ asset(membre.photo) }}" height="100%">
        <p>{{ membre.statut}}</p>

    </article>

{% endfor %}

{% endblock %}